@{
    ViewBag.Title = "Checkout";
}

<div class="alert alert-info mt-1 mb-1">
    <h4>Chechout</h4>
    <hr />
    <h5>
        Products have been bought!
    </h5>
</div>

<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">
    List of all products
</a>